body {
  background-color: #ffffff;
  color: #455A64;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

p{
  margin: 0.5em 0 0 0;
}

h2 {
  margin: 1em 0;
  color: #282F33;
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
}

h3 {
  margin: 1em 0;
  color: #282F33;
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 1.4em;
}

ol {
  padding-left: 2em;
}

ul {
  padding-left: 2em;
}

ul li {
  margin-top: 0.25em;
}

strong {
  color: #263238;
}

/* Header */
#header {
  background-color: #294051;
  padding: 3em 0 2em 0;
}

#brand {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 2em;
}

#brand .description {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: auto 0 0.8em;
}

#brand .description h1 {
  color: #ffffff;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

#brand .description h1 span {
  color: #FDD835;
}

#brand .description p {
  color: rgba(255, 255, 255, 0.8);
  margin: 0 0 0 1em;
}

#logo {
  margin-right: 2em;
}

#logo img {
  width: 80px;
  height: auto;
}

/* End of header */
/* Menu */
.menu {
  background-color: transparent;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.menu ul li {
  display: inline;
  margin-left: 5px;
}

.menu ul li a {
  color: rgba(255, 255, 255, 0.85);
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  text-decoration: none;
  margin: 5px;
}

.menu ul li a:hover,
.menu ul li a.active {
  color: rgba(255, 255, 255, 1);
  border-bottom: 2px solid #ffffff;
}

#download-menu-button {
  white-space: nowrap;
  margin-left: 10px;
}

#download-menu-button a {
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: #ffffff;
  font-size: 18px;
  margin: 0;
  padding: 8px;
}

#download-menu-button img {
  vertical-align: text-top;
  width: 22px;
  height: 22px;
}

/* End of menu */
/* Layout */
.content-wrapper {
  display: flex;
  flex-direction: row;
}

.content-side {
  flex: 25%;
  margin: 0;
}

.content-main {
  flex: 75%;
  padding: 2em 0 3em 3em;
}

/* End of layout */
/* Content */
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1em;
}

div .flexbox {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

div .flexbox .box1 {
  min-width: 135px
}

div .teamInfo {
  float: left;
}

img {
  border: 0;
}

img.flag {
  height: 1.1em;
  vertical-align: middle;
}

img.teamUserIcon {
  height: 8em;
  width: 8em;
}

fieldset.team-fieldset {
  background-color: #ECEFF1;
  border: 2px solid #90A4AE;
  border-radius: 4px;
}

.copyright {
  background-color: #294051;
  padding: 2em 1em;
  margin-top: 3em;
}

.copyright p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.8em;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

div .codePart {
  /*border: solid double rgb(47,103,186);*/
  font-style: italic;
  width: 400px;
  margin: 0 auto;
  border-style: solid double groove;
  border-color: #2f67ba;
}

.stretcher {
  overflow-wrap: break-word;
  font-size: 0.9em;
  min-height: 432px;
}

.stretcher a {
  color: #455A64;
}

.stretcher a:hover {
  text-decoration: none;
}

#social {
  min-height: 140px;
}

#social span,
#social iframe {
  max-width: 150px;
}

.nobr {
  white-space: nowrap;
}

.invisible {
  display: none;
}

.wordBreak {
  word-break: break-all;
}

.dlv {
  display: flex;
  flex-direction: column;
  padding: 2em 0 3em 0;
}

.dlv strong {
  font-size: 2em;
}

.dlv a {
  font-size: 1.25em;
}

.dlv-button {
  max-width: 75px;
  background: linear-gradient(0deg, rgba(88, 152, 50, 1) 5%, rgba(122, 173, 87, 1) 60%);
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  border: 0;
  border-radius: 16px;
  cursor: pointer;
  padding: 1em 4.5em;
  outline: 0;
  margin-bottom: 1em;
}

.dlv-button img {
  width: 75px;
  height: 75px;
}

/* End of content */
/* 992px or smaller */
@media (max-width: 992px) {
  .content-wrapper {
    flex-direction: column;
  }

  .content-side {
    flex: 100%;
    margin: 0 0 0 2em;
  }

  .content-main {
    flex: 100%;
    padding: 1em;
  }

  #brand .description {
    flex-direction: column;
  }

  #brand .description p {
    margin: 0;
  }

  #download-menu-button {
    margin-top: 1em;
  }
}

/* 576px or smaller */
@media (max-width: 576px) {
  .content-side {
    margin: auto;
  }
  .content-main {
    padding: 0.5em;
  }
}