              </div>
            </div>
          </div>
        </div>
      </div>
      <p class="copyright">
        Help us improve the <a href="https://github.com/qbittorrent/qBittorrent-website" style="color: #FFFFFF;">website</a><br/>
        <br/>
        Copyright &copy;2006-2021 <a href="mailto:sledgehammer999@qbittorrent.org" style="color: #FFFFFF;">The qBittorrent project</a> - All rights reserved<br/>
        <br/>
      </p>
    </div>
  </body>
</html>
