# rewrite rules
<IfModule mod_rewrite.c>
	# these are required for "per-directory rewrites"
	Options FollowSymLinks
	RewriteEngine On

	# uncomment following line if your webserver's URL is not directly related to physical file paths.
	RewriteBase /

	# remove the need for .php extention
	RewriteRule ^donate$ donate.php [NC]

	# redirect non-www to www (https):
	RewriteCond %{HTTP_HOST} !^www\. [NC]
	RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [L,R=301]

	# auto redirect http -> https
	RewriteCond %{HTTPS} off
	RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>

# control "max-age" & "Cache-Control" in HTTP header
<IfModule mod_expires.c>
	# for etag, exclude INode
	FileETag All -INode

	ExpiresActive On
	ExpiresDefault "access plus 7 days"

	ExpiresByType text/css  "access plus 2 hours"
	ExpiresByType text/html "access plus 2 hours"

	# special case for the version banner
	<Files "TLbanner.*">
		ExpiresDefault "access plus 2 hours"
	</Files>
</IfModule>
