# rewrite rules
<IfModule mod_rewrite.c>
	# these are required for "per-directory rewrites"
	Options FollowSymLinks
	RewriteEngine On

	# uncomment following line if your webserver's URL is not directly related to physical file paths.
	RewriteBase /

	# remove the need for .php extention
	RewriteRule ^donate$ donate.php [NC]

	# redirect non-www to www (https):
	RewriteCond %{HTTP_HOST} !^www\. [NC]
	RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [L,R=301]

	# auto redirect http -> https
	RewriteCond %{HTTPS} off
	RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

	<IfModule mod_headers.c>
		# HTTP Strict Transport Security (HSTS)
		Header always set Strict-Transport-Security "max-age=31536000;"

		Header always set X-Frame-Options "SAMEORIGIN"
		Header always set X-XSS-Protection "1; mode=block"
		Header always set X-Content-Type-Options "nosniff"
	</IfModule>
</IfModule>

<IfModule mod_ssl.c>
	# https://mozilla.github.io/server-side-tls/ssl-config-generator/
	SSLCipherSuite ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS
</IfModule>

# control "max-age" & "Cache-Control" in HTTP header
<IfModule mod_expires.c>
	# for etag, exclude INode
	FileETag All -INode

	ExpiresActive On
	ExpiresDefault "access plus 7 days"

	ExpiresByType text/css  "access plus 2 hours"
	ExpiresByType text/html "access plus 2 hours"
</IfModule>
