{
  "jsc": {
    "minify": {
      "format": {
        "comments": false
      }
    },
    "parser": {
      "syntax": "typescript"
    },
    "target": "es2022"
  },
  "module": {
    "type": "es6"
  }
}
