{{> partials/header}}

<div id="index-placeholder"></div>

<script>
    const script = document.querySelector('#helpers');
    script.addEventListener('load', () => {
        fetchMarkdownAndReplaceId('index.md', 'index-placeholder');
    });
</script>

{{> partials/footer}}
