{{> partials/header}}

<h2>News</h2>

<div id="news-placeholder"></div>

{{!-- earlier news still retain its original format --}}
{{> partials/old_news}}

<script>
    (async () => {
        const response = await fetch('news.md');
        const text = await response.text();
        const script = document.getElementById('helpers');
        script.addEventListener('load', () => {
            transformMarkdownAndReplaceId(text, 'news-placeholder');
        });
    })();
</script>

{{> partials/footer}}