{{> partials/header}}

<h3>Donation options</h3>
<p>qBittorrent is developed by <a href="team.html">volunteers</a> on their spare time. If you like this piece of software, consider making a donation.<br/>
Donations are welcome as a "Thank you" for the software. You can choose to donate for the costs of the server (website, forum, domain) and/or to the lead programmers. You are encouraged to give a slight preferance to server costs. eg 70% to server and 30% to lead programmers.<br/>
If you want to give money for specific features being implemented, take a look at our <a href="https://www.bountysource.com/teams/qbittorrent/issues">BountySource page</a>. There you can post a monetary bounty for an issue and if any developer (even 3rd party) is interested, he can implement it and claim the bounty.
</p>
<p>Donation info (lead programmers are mentioned by their github username):</p>
<table>
  <colgroup>
    <col>
    <col>
    <col style="width: 50%;">
  </colgroup>
  <tbody>
    <tr>
      <th>Member</th>
      <th>Role</th>
      <th>Donation link</th>
    </tr>
    <tr>
      <td>Server</td>
      <td>Website, forum, domain</td>
      <td><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=W7S74UXAZKNXU&source=url">PayPal</a></td>
    </tr>
    <tr>
      <td>glassez</td>
      <td>Lead programmer</td>
      <td>Uses PayPal with address: glassez@yandex.ru.<br/>
      More donation options are on his <a href="https://glassez.github.io">page</a>.</td>
    </tr>
    <tr>
      <td>Chocobo1</td>
      <td>Lead programmer</td>
      <td>Take a look at his donation <a href="https://myprojects.tzou.me/donation/">page</a>.</td>
    </tr>
  </tbody>
</table>
<br/>
<p><b>BountySource DISCLAIMER:</b> A feature implementation or a bug fix might not get accepted and instead be rejected.
Some of the reasons might be code quality that isn't up to par with the rest of the project, poor code architecture/engineering, implementing a feature that doesn't actually fit with qBittorrent or we don't want to have it.
Generally objective reasons. The only subjective reason is rejecting a feature simply because we don't want it in qBittorrent (however we take the community's desires into consideration too).
We won't reject a feature/bugfix simply to deny a person a bounty or to claim the bounty for ourselves or another affiliated person.
Lastly, due to workload and our limited time `Pull Requests` may not be reviewed/merged in a timely manner.
</p>

{{> partials/footer}}
