{{> partials/header}}

<h2>News</h2>

<div id="news-placeholder"></div>

{{!-- earlier news still retain its original format --}}
{{> partials/old_news}}

<script>
    const responsePromise = fetch('news.md');
    const script = document.getElementById('helpers');
    script.addEventListener('load', () => {
        transformMarkdownAndReplaceId(responsePromise, 'news-placeholder');
    });
</script>

{{> partials/footer}}