{{> partials/header}}

<h2>Team Members</h2>

<h3>Project Maintainer</h3>
<fieldset class="teamFieldset">
  <div class="teamInfo">
    <img src="../img/user_font_awesome.svg" alt="no image" class="teamUserIcon" />
  </div>
  <div class="teamInfo">
    <ul>
      <li><b>Nickname:</b> sledgehammer999</li>
      <li><b>Role:</b> Project maintainer and main developer</li>
      <li><b>Country:</b> <img src="../img/flags/gr.svg" alt="Greek" class="flag" /></li>
      <li><b>Mail:</b> sledgehammer999 (at) qbittorrent (dot) org</li>
    </ul>
  </div>
</fieldset>

<h3>Forum Administrator</h3>
<fieldset class="teamFieldset">
  <div class="teamInfo">
    <img src="../img/user_font_awesome.svg" alt="no image" class="teamUserIcon" />
  </div>
  <div class="teamInfo">
    <ul>
      <li><b>Name:</b> Zsolt Peter Basak</li>
      <li><b>Role:</b> Forum administrator and owner</li>
      <li><b>Country:</b> <img src="../img/flags/hu.svg" alt="Hungarian" class="flag" /></li>
      <li><b>Mail:</b> zsoltpeterbasak (at) gmail (dot) com</li>
    </ul>
  </div>
</fieldset>

<h3>Project Founder (Inactive)</h3>
<fieldset class="teamFieldset">
  <div class="teamInfo">
    <img src="../img/team/chris.png" alt="Christophe Dumez image" class="teamUserIcon" />
  </div>
  <div class="teamInfo">
    <ul>
      <li><b>Name:</b> Christophe Dumez</li>
      <li><b>Role:</b> Project founder and developer (inactive)</li>
      <li><b>Country:</b> <img src="../img/flags/fr.svg" alt="French" class="flag" /></li>
      <li><b>Mail:</b> chris (at) qbittorrent (dot) org</li>
    </ul>
  </div>
</fieldset>

<h3>Project Contributors</h3>
<fieldset class="teamFieldset">
  <div class="teamInfo">
    <img src="../img/github.svg" alt="github icon" class="teamUserIcon" />
  </div>
  <div class="teamInfo">
    <ul>
      <li>See <a href="https://github.com/qbittorrent/qBittorrent/graphs/contributors">GitHub contributors page</a></li>
    </ul>
  </div>
</fieldset>

<h3>Project Translators</h3>
<fieldset class="teamFieldset">
  <div class="teamInfo">
    <img src="../img/translate.svg" alt="translation icon" class="teamUserIcon" />
  </div>
  <div class="teamInfo">
    <ul>
      <li>See <a href="https://www.transifex.com/sledgehammer999/teams/">Transifex team page</a></li>
    </ul>
  </div>
</fieldset>

<h3>Project Graphist</h3>
<fieldset class="teamFieldset">
  <div class="teamInfo">
    <img src="../img/user_font_awesome.svg" alt="no image" class="teamUserIcon" />
  </div>
  <div class="teamInfo">
    <ul>
      <li><b>Name:</b> Mateusz Toboła (aka "Tobejodok")</li>
      <li><b>Role:</b> Software and website artwork</li>
      <li><b>Country:</b> <img src="../img/flags/pl.svg" alt="Polish" class="flag" /></li>
      <li><b>Mail:</b> tobejodok (at) qbittorrent (dot) org</li>
    </ul>
  </div>
</fieldset>

{{> partials/footer}}
