<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="qBittorrent Official Website">
    <meta name="keywords" content="qBittorrent, torrent client, BitTorrent protocol, cross-platform, free and open-source software, GNU GPL, libtorrent-rasterbar, Qt, C++">
    <meta name="author" content="qBittorrent Development Team: https://github.com/qbittorrent">
    <meta name="robots" content="NOODP">
    <meta name="google-site-verification" content="2P14de1zV_NTk03Ebnc0wpPKWaeJoj7B9Tc_HtRkOfE">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>qBittorrent Official Website</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" sizes="16x16 32x32 64x64">

    <!-- Main CSS -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/TLbanner.css">

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
    <![endif]-->

    <link rel="dns-prefetch" href="http://git.qbittorrent.org">
    <link rel="dns-prefetch" href="http://bugs.qbittorrent.org">
    <link rel="dns-prefetch" href="http://wiki.qbittorrent.org">
    <link rel="dns-prefetch" href="http://forum.qbittorrent.org">
    <script defer src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script defer src="lib/helpers.js" id="helpers"></script>
  </head>
  <body>
    <span id="forkongithub">
      <a href="download.html">Latest: v4.3.6</a>
    </span>

    <div id="MainBox">
      <div id="LogoChris">
        <img src="img/qb_banner.png" alt="qBittorrent" style="transform: translateY(-50%);" class="banner"/>
      </div>

      <div class="menu">
        <ul>
          <li class="first"><a href="/">Home</a></li>
          <li><a href="news.html">News</a></li>
          <li><a href="http://forum.qbittorrent.org" target="_blank">Forum</a></li>
          <li><a href="download.html">Download</a></li>
          <li><a href="https://sourceforge.net/projects/qbittorrent/#screenshots">Screenshots</a></li>
          <li><a href="http://wiki.qbittorrent.org" target="_blank">Wiki</a></li>
          <li><a href="http://git.qbittorrent.org" target="_blank">Development</a></li>
          <li><a href="http://bugs.qbittorrent.org" target="_blank">Bugs</a></li>
        </ul>
      </div>

      <div class="wrapper">
        <div class="wrapper-top">
          <div class="wrapper-bottom">
            <div id="content">
              <div class="stretcher" id="StretchHome">
