---
layout: base.liquid
permalink: "{{ page.filePathStem }}.html"
---
<h3>Donation options</h3>
<p>qBittorrent is developed by <a href="team">volunteers</a> on their spare time. If you like this piece of software, consider making a donation.<br>
Donations are welcome as a "Thank you" for the software. You can choose to donate for the costs of the server (website, forum, domain name) and/or to the lead programmers. You are encouraged to give a slight preference to server costs. eg 70% to server and 30% to lead programmers.
</p>
<p>Donation info (lead programmers are mentioned by their github username):</p>
<table>
  <colgroup>
    <col>
    <col style="width: 10em;">
    <col style="width: 20em;">
    <col>
  </colgroup>
  <tbody>
    <tr>
      <th colspan="2" scope="col">Member</th>
      <th scope="col">Role</th>
      <th scope="col">Donation link</th>
    </tr>
    <tr>
      <td><img src="favicon.ico" alt="server icon" height="60"></td>
      <td>Server</td>
      <td>Website, forum, domain name</td>
      <td><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=W7S74UXAZKNXU&source=url">PayPal</a></td>
    </tr>
    <tr>
      <td><a href="https://github.com/glassez"><img src="img/team/glassez.jpeg" alt="glassez avatar" height="60"></a></td>
      <td><a href="https://github.com/glassez">glassez</a></td>
      <td>Lead programmer</td>
      <td>Take a look at his donation <a href="https://glassez.github.io">page</a>.</td>
    </tr>
    <tr>
      <td><a href="https://github.com/Chocobo1"><img src="img/team/Chocobo1.webp" alt="Chocobo1 avatar" height="60"></a></td>
      <td><a href="https://github.com/Chocobo1">Chocobo1</a></td>
      <td>Lead programmer</td>
      <td>Take a look at his donation <a href="https://myprojects.tzou.me/donation/">page</a>.</td>
    </tr>
  </tbody>
</table>
