---
layout: base.liquid
permalink: "{{ page.filePathStem }}.html"
---
<h2>Screenshots</h2>

<h3 id="linux">
  <a class="header-anchor" href="#linux">Linux (light mode)</a>
</h3>
<div class="flexbox_screenshots">
  <figure>
    <a href="img/screenshots/linux/1.webp">
      <img src="img/screenshots/linux/1.webp" alt="Main window (General tab collapsed)" height="1228" width="809">
    </a>
    <figcaption>Main window (General tab collapsed)</figcaption>
  </figure>
  <figure>
    <a href="img/screenshots/linux/2.webp">
      <img src="img/screenshots/linux/2.webp" alt="Main window (General tab expanded)" height="1228" width="809">
    </a>
    <figcaption>Main window (General tab expanded)</figcaption>
  </figure>
  <figure>
    <a href="img/screenshots/linux/3.webp">
      <img src="img/screenshots/linux/3.webp" alt="Options dialog" height="954" width="811">
    </a>
    <figcaption>Options dialog</figcaption>
  </figure>
  <figure>
    <a href="img/screenshots/linux/4.webp">
      <img src="img/screenshots/linux/4.webp" alt="Search engine" height="1228" width="809">
    </a>
    <figcaption>Search engine</figcaption>
  </figure>
</div>

<h3 id="windows">
  <a class="header-anchor" href="#windows">Windows (dark mode — "Fusion")</a>
</h3>
<div class="flexbox_screenshots">
  <figure>
    <a href="img/screenshots/windows/1.webp">
      <img src="img/screenshots/windows/1.webp" alt="Main window (General tab collapsed)" height="1231" width="813">
    </a>
    <figcaption>Main window (General tab collapsed)</figcaption>
  </figure>
  <figure>
    <a href="img/screenshots/windows/2.webp">
      <img src="img/screenshots/windows/2.webp" alt="Main window (General tab expanded)" height="1231" width="813">
    </a>
    <figcaption>Main window (General tab expanded)</figcaption>
  </figure>
  <figure>
    <a href="img/screenshots/windows/3.webp">
      <img src="img/screenshots/windows/3.webp" alt="Options dialog" height="781" width="823">
    </a>
    <figcaption>Options dialog</figcaption>
  </figure>
  <figure>
    <a href="img/screenshots/windows/4.webp">
      <img src="img/screenshots/windows/4.webp" alt="Right click on a torrent" height="1231" width="813">
    </a>
    <figcaption>Right click on a torrent</figcaption>
  </figure>
  <figure>
    <a href="img/screenshots/windows/5.webp">
      <img src="img/screenshots/windows/5.webp" alt="Torrent options" height="556" width="662">
    </a>
    <figcaption>Torrent options</figcaption>
  </figure>
</div>