---
layout: base.liquid
permalink: "{{ page.filePathStem }}.html"
---
<h2>Screenshots</h2>

<h3 id="linux">
  <a class="header-anchor" href="#linux">Linux</a>
</h3>
<div class="flexbox_screenshots">
  <figure>
    <a href="img/screenshots/linux/1.webp">
      <img src="img/screenshots/linux/1.webp" alt="Main window (General tab collapsed)" width="256">
    </a>
    <figcaption>Main window (General tab collapsed)</figcaption>
  </figure>
  <figure>
    <a href="img/screenshots/linux/2.webp">
      <img src="img/screenshots/linux/2.webp" alt="Main window (General tab expanded)" width="256">
    </a>
    <figcaption>Main window (General tab expanded)</figcaption>
  </figure>
  <figure>
    <a href="img/screenshots/linux/3.webp">
      <img src="img/screenshots/linux/3.webp" alt="Options dialog" width="256">
    </a>
    <figcaption>Options dialog</figcaption>
  </figure>
  <figure>
    <a href="img/screenshots/linux/4.webp">
      <img src="img/screenshots/linux/4.webp" alt="Search engine" width="256">
    </a>
    <figcaption>Search engine</figcaption>
  </figure>
</div>
